@import url(https://fonts.googleapis.com/css?family=Raleway:500);

label {
  cursor: pointer;
}

#refreshbutton {
  display: none;
}

#refreshbutton-label::after {
 content: '\27F3';
 font-size: 4vmin;

}

#audiobutton {
    display: none;
    margin-left: auto; 
    margin-right: auto;
    margin: auto;
}

#audiobutton:checked + #audiobutton-label::after {
    content: '\2759 \2759';
    font-size: 4vmin;
    top: 780px;
  }

#audiobutton-label::after {
   content: '\25BA';
   font-size: 4vmin;


}


/* Background */  
body {
    background-color: #062441;
    font-family: Raleway;
    color: white;
  }


.slidecontainer {
  width: 100%;
}

.slider {
  position: relative;
  margin-left: auto; 
  margin-right: auto;
  margin: auto;
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #045aaa;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #062441;
  cursor: pointer;
}

html, body {
  height: 100%;
}
body {
  overflow: hidden;
}
.ocean {
  height: 0%;
  width: 110%;
  position: absolute;
  bottom: -10;
  left: 0;
  background: #015871;
}
.wave {
  background: url(images/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 200px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

#cloud {
  opacity: 0.7;
  position:fixed;
  width: 50%;
  z-index: -1;
  bottom:0px;
  animation: cloud 3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}




.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 2;
}
@keyframes wave {
  0% {
    margin-left: 0;
 }
  100% {
    margin-left: -1600px;
 }
}

@keyframes cloud {
  0% {
    margin-bottom: 0px;
 }
  50% {
    margin-bottom: -10px;
 }
 100% {
  margin-bottom: 0px;
}
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
 }
  50% {
    transform: translate3d(0, 5px, 0);
 }
}

